*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    position: relative;
    width: 360px;
    height: 777px;

    background: #588157;
    overflow: hidden;
}
.container .content img{
    position: absolute;

    object-fit: contain;
    width:70%;

    left: 50px;
    top: -10px;

}
.container .content p{
    position: absolute;
    width: 295px;
    height: 16px;
    left: 33px;
    top: 173px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #DAD7CD;
}
.data-container{
    position: absolute;
    width: 259px;
    height: 383px;
    left: 51px;
    top: 237px;

    background: #DAD7CD;
}
.container a{
    position: absolute;
    width: 195px;
    height: 47px;
    left: 83px;
    top: 668px;
    
    background: #344E41;
    border-radius: 50px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    color: #DAD7CD;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding-top: 10px;
}
.data-container label,p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: #787055;

}
.data-container h1{
    position: absolute;
    width: 209px;
    height: 25px;
    left: 25px;
    top: 19px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    text-align: center;

    color: #787055;
}
.data-container #cc{
    position: absolute;
    width: 207px;
    height: 27px;
    left: 27px;
    top: 80px;
}
.data-container #current_cases{
    position: absolute;
    width: 207px;
    height: 29px;
    left: 25px;
    top: 107px;
}
.data-container #r{
    position: absolute;
    width: 207px;
    height: 24px;
    left: 25px;
    top: 155px;
}
.data-container #recovered{
    position: absolute;
    width: 207px;
    height: 29px;
    left: 25px;
    top: 182px;
}
.data-container #d{
    position: absolute;
    width: 207px;
    height: 28px;
    left: 25px;
    top: 230px;
}
.data-container #deaths{
    position: absolute;
    width: 207px;
    height: 29px;
    left: 25px;
    top: 254px;
}
.data-container #rr{
    position: absolute;
    width: 207px;
    height: 29px;
    left: 25px;
    top: 299px;
}
.data-container #recovery_rate{
    position: absolute;
    width: 207px;
    height: 29px;
    left: 25px;
    top: 328px;
}
.container #category{
    position: absolute;
    width: 300px;
    height: 40px;
    left: 31px;
    top: 631px;

    background: #BFB9A4;
    border-radius: 10px;
}
.container #location{
    position: absolute;
    width: 300px;
    height: 40px;
    left: 31px;
    top: 671px;

    background: #BFB9A4;
    border-radius: 10px;
}
